
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <!-- NavBar -->
    <nav>
      <div class="left">
        <a href="/">  
          <img src="/public/assets/logo2.png" alt="logo" style="width: 50px;" />
        </a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog" class="list-active">Blog</a>
          </li>
        </ul>
      </div>
      <div class="right">
        <a href="/contact"> Contact Me </a>
      </div>
    </nav>

    <!-- Blog -->
    <div class="blog-detail">
      <div class="blog-detail-container">
        <h1>{{blog.title}} | {{index}} </h1>
        <div class="author">{{blog.post_at}} | {{blog.author}}</div>
        <img src="{{blog.image}}" alt="detail" />
        <p>
          {{blog.content}}
        </p>
      </div>
    </div>
  </body>
</html>